
target/classes/application.properties

target/classes/com/example/config/JerseyConfig.class

target/classes/com/example/JerseyRsApplication.class

target/classes/com/example/model/Health.class

target/classes/com/example/resources/HealthController.class

target/classes/META-INF/MANIFEST.MF

target/classes/META-INF/maven/com.example/JerseyRS/pom.properties

target/classes/META-INF/maven/com.example/JerseyRS/pom.xml

target/test-classes/com/example/JerseyRsApplicationTests.class
